[Unit]
Description=Samba Winbind Daemon
After=syslog.target network-online.target nmb.service
Wants=network-online.target
Before=nss-user-lookup.target
Wants=nss-user-lookup.target

[Service]
Type=notify
NotifyAccess=all
PIDFile=/run/winbindd.pid
EnvironmentFile=-/etc/sysconfig/samba
ExecStart=/usr/sbin/winbindd "$WINBINDOPTIONS"
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
